# Dependency directories
node_modules/

# Build outputs
packages/server/dist/
client_packages/
bin/
dotnet/
plugins/
maps/

# RAGE MP Core Binaries
ragemp-server.exe
BugTrap-x64.dll

# Configuration & Logs
.env
.listcache
server.log
logs/
conf.json

# IDEs
.vscode/
.idea/
*.swp
